<html>

    <body>
        {% set brands_stores = brand.getStores %}
        <h1>{{ brand.getName }}</h1>


        <h2>Stores that carry this brand:</h2>
        {% for store in brands_stores %}
            <li>{{ store.getName }}</li>
        {% endfor %}
        <br>

            <form action="/brand/{{ brand.getId }}/change_name" method="post">
                <input name="_method" type="hidden" value="patch">
                <input name= "brand_id" id="brand_id" type="hidden" value="{{ brand.getId }}">
                <label for="name">Change Name</label>
                <input id="name" name="name" type="text">
                <span>add a store that carries this brand</span>

                <button type="submit">Update</button>
            </form>
            <form action="/brand/{{ brand.getId }}/add_store" method="post">
                <input name="_method" type="hidden" value="patch">

                <select>
                {% for store in stores %}
                <option>{{store.getName}}</option>
                {% endfor%}

                </select>
                <button type="submit">Update</button>
            </form>
            <a href="/">Home</a>
            <!-- <form action="/brand/{{brand.getId}}/delete" method='post'>
                <input name="_method" type="hidden" value="delete">
                <button type='submit'>Delete</button>
            </form> -->
    </body>
</html>
